.dialogs {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;

}
.dialogItemImage{
    width: 50px;
    border-radius: 20px;
}
.messageItem{
    padding: 10px;
    widtn:20px;
    border-radius: 10px;
    margin-right: 0;
    text-align: right;
    background-color: darkorange;
    margin: 20px;
}


